#menu {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#menu div:hover {
    color: black;
}

#menu div.active {
    color: black;
}


.button {
    background-color: rgba(211, 211, 211, 0.3);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    font-weight: 400;
}


#settings div {
    opacity: 0.7;
    transition: 1s opacity;
}

#settings div:hover {
    opacity: 1.0;
}

#game {
    /*background-color: rgba(84, 192, 88, 0.7);*/
    background: linear-gradient(to bottom, rgba(84, 192, 88, 0.7), rgba(84, 192, 88, 0.4));
    border-top: 5px solid rgb(72, 164, 75);
}

#progress div {
    background-color: #4CAF50;
}

#gpio {
    /*background-color: rgba(28, 131, 233, 0.73);*/
    background: linear-gradient(to bottom, rgba(28, 131, 233, 0.73), rgba(28, 131, 233, 0.4));
    border-top: 5px solid rgb(24, 109, 193);
}

#gpio tr:hover {
    background-color: rgba(211, 211, 211, 0.25);
}

#gpio .state {
    color: rgba(0, 0, 0, 0.2);
}

#gpio span:hover {
    /*color: red;*/
}

#gpio .active {
    color: black;
}

#gpio .transparent {
    color: transparent;
}

#gpio .on {
    background-color: #4CAF50;
    color: white;
    padding-left: 5px;
    padding-right: 5px;

}


#scenario {
    /*background-color: rgba(76, 175, 80, 0.6);*/
    border-top: 5px solid gray;
}

#logs {
    background-color: ghostwhite;
    border-top: 5px solid #e6e6ed;
}

#sounds {
    /*background-color: rgba(214, 93, 21, 0.5);*/
    background: linear-gradient(to bottom, rgba(214, 93, 21, 0.7), rgba(214, 93, 21, 0.4));
    border-top: 5px solid rgba(214, 93, 21, 1);;
}

#help {
    background-color: lightgray;
}