@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/

    font-family: 'Open sans', sans-serif;
    font-weight: 400;

    line-height: 20px;


    background-color: #d7d7dd;

    /*-webkit-app-region: drag;*/

    /*display: flex;*/
    /*flex-direction: row;*/
}

#menu {
    position: fixed;

    display: flex;
    flex-direction: row;

    background-color: ghostwhite;

    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    height: 40px;
    line-height: 20px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    z-index: 10;
}

#menu div {
    padding: 10px;

    cursor: pointer;

    color: rgba(0, 0, 0, 0.4);

    /*box-shadow: 5px 10px #888888;*/
}

#menu div:hover {
    color: black;
}

#menu div.active {
    color: black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#logo {
    width: 60px;
    height: 60px;

    margin: 20px auto;
    padding: 0;

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {  transform: rotate(0deg);  }
    to {  transform: rotate(360deg);  }
}

.rotating {
    animation: rotating 2s linear infinite;
}

.button {
    padding: 8px;
    background-color: rgba(144, 238, 144, 0.86);
    color: green;

    min-width: 60px;
    text-align: center;

    box-sizing: border-box;

    border: 2px solid #1d520b;

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button:hover {
    color: black;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
}

.shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.off {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    cursor: default;

    opacity: 0.3;
}

.field {

    padding: 10px;
    width: 100%;
    background-color: white;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.field:hover {
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.24);
}

.title {
    line-height: 40px;
    /*background-color: red;*/
}


.list {
    padding: 20px;
    /*background-color: lightblue;*/
}

.list > div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    /*line-height: 20px;*/

    /*padding-top: 10px;*/
    padding-bottom: 20px;


    /*background-color: #9cc2cf;*/
}