#settings {
    position: absolute;
    /*bottom: ;*/
    /*right: 0;*/
    /*min-width: 50%;*/
    min-height: 100%;
    height: 100%;

    padding-top: 42px;
    box-sizing: border-box;

    overflow: hidden;

    /*background-color: greenyellow;*/

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/

    /*z-index: 2;*/
    /*z-index: 1;*/

    /*line-height: 22px;*/
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: rgba(255, 255, 255, 0.2);  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: gray;
}

#settings > div {
    display: none;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}




#game {
    min-width: 200px;
    min-height: 100%;

    white-space: nowrap;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.24);

    z-index: 2;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


#progress {
    width: 100%;
    height: 2px;
    background-color: white;
}

#progress div {
    width: 0;
    height: 2px;
}



#time {
    padding: 20px;
    font-weight: 400;
}

#time span {
    padding-left: 10px;
    padding-right: 10px;
}



#gpio {
    cursor: default;
    white-space: nowrap;

}

#gpio table {
    border-collapse: collapse;
    margin: 20px;
}

#gpio span {
    cursor: pointer;
}

#gpio .state {
    user-select: none;
    text-align: right;
}


th {
    text-align: left;
}

th {
    padding-right: 10px;
    padding-left: 5px;
}

td {
    padding: 0;
    padding-right: 10px;
    padding-left: 5px;
}

tr td:last-child {
    float: right;
    cursor: pointer;
    line-height: 22px;
}

tr td:last-child:hover {
    /*color: red;*/
    /*padding-left: 10px;*/
}




#scenario {
    width: 600px;

    max-height: 100%;
    overflow-y: scroll;

    /*box-sizing: border-box;*/

    /*font-weight: 300;*/

    /*line-height: 20px;*/

    letter-spacing: 1px;

    /*font-variant-ligatures: no-common-ligatures;*/
}

#scenario pre {
    margin: 0;
    box-sizing: border-box;
    width: 600px !important;
    overflow: hidden !important;
}

#scenario code {

    /*width: 100%;*/
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;

    font: normal 10pt Consolas, Monaco, monospace;
}

#scenario span {
    /*overflow: hidden;*/
}


#logs {
    /*min-width: 100%;*/
    white-space: nowrap;
    max-height: 100%;

    /*min-height: 1000px;*/
    overflow-y: scroll;

    font-weight: 300;

    padding: 20px;
    box-sizing: border-box;

    letter-spacing: 1px;

    /*line-height: 22px;*/
    /*box-shadow: inset 0 1px 3px rgba(0,0,0,0.24);*/
}



#sounds {

    width: 300px;

    /*padding: 20px;*/

    background-color: lightsalmon;
}

#sound > div.list {
    /*padding: 20px;*/
}



#camera1 {
    /*width: 320px;*/
    /*height: auto;*/
    height: 50%;

    background-color: black;
}

#help img {
    padding: 20px;
    height: 500px;
}





a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(11, 98, 181, 0.76);
}

img {
    /*display: block;*/
    /*padding: 20px;*/
    /*height: 500px;*/

    /*box-sizing: border-box;*/
}