@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height:100%;

    font-family: 'Open sans', sans-serif;
    font-weight: 300;

    background-color: #d7d7dd;

    -webkit-app-region: drag;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(11, 98, 181, 0.76);
}